.Menu {
  width: 100%;
  height: 16%;
  display: grid;
  place-items: center;
  position: absolute;

  .Container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .Logo {
      //M Main
      height: 100%;
      color: #efa649;
      // Font
      font-size: 6vh;
      font-family: GothamPro;
      // Positon
      display: grid;
      place-items: end;

      p {
        margin: 0;
        margin-bottom: 0.2vh;
      }
    }
  }
}

.MenuItems {
  // Main
  width: 40%;
  height: 100%;
  color: #bcbabc;
  // Position
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  // Font
  font-size: 3.2vh;
  font-weight: 600;
  font-family: Montserrat;

  p {
    margin: 0;
  }

  .MenuItem {
    display: grid;
    place-items: center;

    .ItemIndicator {
      width: 1vh;
      height: 1vh;
      border-radius: 50%;
      background-color: #efa649;
    }
  }
}
