.Hero {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: flex-end;
  justify-items: center;
  background: rgba($color: #161623, $alpha: 0.9);

  .Container {
    width: 80%;
    height: 84%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      ". . . . . ."
      "Content Content Content Content Content Content"
      "Content Content Content Content Content Content"
      ". . . . . ."
      "Footer Footer Footer Footer Footer Footer"
      ". . . . . .";
  }
}

.Content {
  display: grid;
  grid-area: Content;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "Title Title . . . . Skills Skills";

  .Title {
    grid-area: Title;

    p {
      margin: 0;
      color: white;
      font-size: 10vh;
      font-weight: bold;
      font-family: GothamPro;
    }

    .TitleBar {
      width: 4vw;
      height: 1.8vh;
      margin-top: 2vh;
      border-radius: 5px;
      background: #efa649;
    }
  }

  .Skills {
    grid-area: Skills;

    a {
      text-decoration: none;
    }

    p {
      margin: 0;
      color: white;
      font-size: 4vh;
      font-weight: 600;
      font-family: Montserrat;
    }

    .Skill {
      display: flex;
      margin-top: 1.5vh;
      align-items: center;

      p {
        color: #bcbabc;
        font-size: 2.8vh;
      }

      .SkillDot {
        height: 1vh;
        background-origin: left;
        margin-left: 1vh;
        margin-right: 1.5vw;
        border-radius: 15px;
      }
    }
  }
}

.Footer {
  display: grid;
  grid-area: Footer;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "Social . . . . . . NavMessage";

  .Social {
    display: flex;
    grid-area: Social;
    align-items: center;
    justify-content: space-between;

    .SocialIcon {
      fill: white;
    }
  }

  .NavMessage {
    display: flex;
    color: #bcbabc;
    align-items: center;
    grid-area: NavMessage;

    .ScrollMessage {
      margin-right: 1vh;

      p {
        margin: 0;
        font-size: 2vh;
      }
    }

    img {
      height: 5.5vh;
    }
  }
}
