@import url("assets/fonts/gotham.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

body {
  margin: 0;
  background: #161623;
  scrollbar-width: thin;
  scrollbar-color: #efa649 #161623;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar Styling */
body::-webkit-scrollbar {
  width: 1vh; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #161623; /* color of the whole area */
}
body::-webkit-scrollbar-thumb {
  border-radius: 1vh;
  background-color: #efa649; /* color of the live area */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
